.i {
    border: solid rgba(255, 204, 0, 0.851) 18px;
    height: 96vh;
    display: flex;
    background-image: url(../../img/bg.gif);background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    color: white;

}
.i-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.i-right {
    flex: 1;
}

.i-left-wrapper {
    padding: 50px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 45%;
}

.i-intro {
    font-size: 50px;
    font-weight: 250;
}

.i-name {
    font-size: 90px;
}

.i-title {
    height: 55px;
    overflow: hidden;
}

.i-title-wrapper {
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    33%{transform: translateY(-100px);}
    33%{transform: translateY(-150px);}
}

.i-title-item {
    height: 69px;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 183, 2);
    display: flex;
    align-items: center;
}

.i-img {
    width: 75%;
    height: 65%;
    display: flex;
    margin-left: 20%;
    object-fit: contain;

}

.i-desc {
    font-size: large;
    font-family: sans-serif;
}