.i {
    border: solid rgb(255, 106, 37) 23px;
    height: 95vh;
    display: flex;
    color: hsl(40, 69%, 87%);
    background-image: url(../../img/devgif.gif);background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    position: relative;

}

.i-left {
    flex: 1;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.17)
}

.i-right {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.17)
}

.i-left-wrapper {
    padding: 50px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25%;
}

.i-intro {
    font-size: 50px;
    font-weight: 250;
}

.i-name {
    font-size: 90px;
    /*transform: rotate(-5deg);*/
}

.i-title {
    height: 55px;
    overflow: hidden;
}

.i-title-wrapper {
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    33%{transform: translateY(-100px);}
    33%{transform: translateY(-150px);}
}

.i-title-item {
    height: 69px;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 145, 0);
    display: flex;
    align-items: center;
}

.i-img {
    width: 70%;
    height: 65%;
    display: flex;
    margin-left: 20%;
    margin-top: 3%;
    object-fit: cover;

}

.i-desc {
    font-family: sans-serif;
    font-size: 20px;
    /*color: rgb(255, 183, 2);*/
    font-weight: bolder;
    transform: skewY(-24deg);
    animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}

/*@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 16em;
    }
}

@keyframes blinkTextCursor {
    from {border-right-color: rgba(255, 255, 255, 0.75)
}
to {
    border-right-color: transparent;
}
}*/