.i {
    display: flex;
    height: 100vh;
}
.i-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.i-right {
    flex: 1;
}

.i-left-wrapper {
    padding: 50px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.i-intro {
    font-size: 30px;
    font-weight: 250;
}

.i-name {
    font-size: 60px;
}

.i-title {
    height: 55px;
    overflow: hidden;
}

.i-title-wrapper {
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    33%{transform: translateY(-100px);}
    33%{transform: translateY(-150px);}
}

.i-title-item {
    height: 69px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 183, 2);
    display: flex;
    align-items: center;
}

.i-img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}